 <form class="d-flex" role="search" action="/buscar" method="post" enctype="multipart/form-data">
        RUT: <input class=" me-2" type="search" name="rut" size="4" maxlength="9" >
        <button class="btn btn-outline-success">Search</button>
      </form>



      <style>
        body{
            background-color: #eeeee4;
            color: black;
        }
      </style>