<header>
    <h1>CENTRAL NOTEBOOK</h1>
</header>
<div class="card text-center">

    <h2>Registro Usuario</h2>

    <div class="container">

        <div class="row input-group">
            <div class="col">
                <label for="dni">RUT</label>
                <input type="text" class="form-control" id="dni">
            </div>
            <div class="col">
                <label for="rol">Rol</label>
                <select id="rol">
                    <option selected></option>
                    <option value="tecnico">Tecnico</option>
                    <option value="receptor">Receptor</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
        </div>

        <div class="row input-group">
            <div class="col">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name">
            </div>

            <div class="col">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
            </div>
        </div>

        <div class="row input-group ">

            <div class="col">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" id="lastName">
            </div>


            <div class="col">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password">
            </div>
        </div>
     
        <div class="row">
            <button>REGISTRAR</button>            
        </div>
    </div>
</div>

<script>
  $('button').click(async () =>{
    const dni = $('#dni').val()
    const email = $('#email').val()
    const name = $('#name').val()
    const lastName = $('#lastName').val()
    {{!-- const phone = $('#phone').val()     --}}
    const password = $('#password').val()
    const rol = $('#rol').val()

    const payload = { dni, email, name, lastName, password,rol }

    try{
      await axios.post('/usuarios', payload)
      alert("Usuario registrado con exito")

      window.location.href = "/RegisUser"
    }
    catch ({ response}){
      const { data } = response
      const { error } = data
      alert(error)
    }
  })
</script>